parameters:
    level: 6
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    scanFiles:
        - rankkernel.php
        - uninstall.php
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - phpstan-baseline.neon
